<!DOCTYPE html>
<html>
    <head>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <title>Repeat Counter</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Repeat Counter</h1>
            </div>
            <img src="img/calculator.png" alt="">
            {% if result == 1 %}
                <h2>"{{ searchword }}" was found 1 time!!</h2>
            {% else %}
                <h2>"{{ searchword }}" was found {{ result }} times!!</h2>
            {% endif %}
            <br>
            <a href="/"><h2>Back</h2></a>
        </div>
    </body>
</html>
