.jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    width: 700px;
    margin: auto;
    margin-bottom: 50px;
    border: 12px solid lightgray;
}

body {
    background-color: darkgray;
    font-family: monospace;
    color: white;
}

img {
    float: right;
    width: 400px;
    height: auto;
}
